<!--
  ~ ************************************************************************************************
  ~ * © 2020, 2022-2023 Qualcomm Technologies, Inc. and/or its subsidiaries. All rights reserved.  *
  ~ ************************************************************************************************
  -->

<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools" >

    <!-- Location permissions
            required to scan for Bluetooth devices for SDK <= API 30 -->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" android:maxSdkVersion="28" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" android:maxSdkVersion="30" />

    <!-- Bluetooth Legacy permissions for Android devices <= API 30 -->
    <!-- to scan for Bluetooth devices and connect to them. -->
    <uses-permission android:name="android.permission.BLUETOOTH" android:maxSdkVersion="30" />
    <!-- to fetch SDP records and access UUIDs. -->
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" android:maxSdkVersion="30" />

    <!-- Bluetooth permissions for Android devices > API 30 -->
    <!-- To scan for devices -->
    <uses-permission android:name="android.permission.BLUETOOTH_SCAN" tools:targetApi="S"
        android:usesPermissionFlags="neverForLocation" />
    <!-- to access BluetoothDevice data (scan result for classic devices) and connect to devices. -->
    <uses-permission android:name="android.permission.BLUETOOTH_CONNECT" />

    <!-- module is only compatible with Android devices that have Bluetooth -->
    <uses-feature android:name="android.hardware.bluetooth" android:required="true" />

</manifest>
